@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="shell" class="container-fluid">
    <div data-ng-include="'@Url.Content("~/App/AssortmentOptimization/Layout/shell.html")'"></div>   
</div>