<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=tstr600113)(PORT=1526))(CONNECT_DATA=(SERVICE_NAME=cmttst)));User Id=cmtetl;Password=PassW0rd"/>
	</connectionStrings>
</configuration>